/* .container {
    height: 580px;
    width: 350px;
    position: relative;
    display: inline-block;
  }
   

.img-wrapper {
    position: absolute;
    height: 580px;
    width: 350px;
    top: 0;
    left: 0;    
    background: url(../img/road2.png);
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
    animation: animatedBackground 60s linear infinite;
  }
  @keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 0 10000px;
    }
  } */